.container-home{
    background: #16161A;
    width: 100%;
    height: 100vh;
    position: relative;
}

.text-home{
    width: 100%;
    padding: 1rem 3rem;
    text-align: center;
    font-weight: 500;
    color: white;
}

.navBar-container{
    background: #232E35;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: .5rem 0;
}

.categ{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3px;
    text-decoration: none;
    color: white;
    fill: white;
}

.navBar-container .nav .nav-active{
    color: #28A672;
}

path .fill-active{
    color: #28A672;
}

.fill{
    color: white;
}



.categ:hover{
    color:  white;
}

.text-nav{
    font-weight: lighter;
    margin: 0;
}

.navBar-container .nav .nav-active:hover{
    color: #28A672;
}

.container-categorias{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 3rem;
    padding: 0;
}

.progressBar{
    width: 100px;
}

.session1{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.session2{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 3rem;
}

.session3{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 3rem;
}