.container-login{
    width: 100vw;
    height: 100%;
    background-color: #16161A;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 2rem;
}

.title-login{
    text-align: center;
    color: white;
    width: 100%;
    margin-top: 2rem;
    font-size: calc(2rem + 1vw)
}

hr{ 
    width: 100%;
}

.form-container{
    padding: 1rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 2rem auto;
}

.form-login{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.label-login-email{
    display: flex;
    flex-direction: column;
    gap: .5rem;
    color: white;
}

.label-login-password{
    display: flex;
    flex-direction: column;
    gap: .5rem;
    color: white;
}

input{
    width: 100%;
    height: 50px;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 2px 8px rgba(255, 255, 255, 0.176);
    transition: all .5s;
    outline: none;
    padding: 0 2rem;
    background-color: #FFFFFE;
}

input::placeholder{
    padding: 0 ;
    text-transform: capitalize;
}

input:focus{
    border: none;
    transform: scale(1.02)
}

link{
    width: 100%;
}

.buttonLogin{
    margin-top: 3rem;
    border: none;
    padding: .8rem;
    background-color: #873DEC;
    color: white;
    box-shadow: 0px 3px 2px #a464ff;
    width: 100%;
    border-radius: .5rem;
    font-size: calc(.9rem + 1vw);
}

.aForgotPassword{
    color: #29A271;
    margin: 0 0 2rem 0;
    font-size: calc(1rem + 1vw);
    width: 100%;
    text-align: center;
}

.pInscribirse{
    color: white;
    font-size: calc(1rem + 1vw);
    width: 100%;
    text-align: center;
}

.LinkInscribirse{
    color: #29A271;
    text-decoration: none;
    font-size: calc(1rem + 1vw);
   
}
/* #29A271 */